main {
  background-color: var(--baggrund);
  /* padding-bottom: 1rem; */
}

form {
  margin: 1rem 4rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 45% 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  /* flex-direction: column; */
  background-color: var(--box);
  border-radius: 30px;
}
form :nth-child(2n + 1) {
  grid-column-start: 1;
}
form :last-child {
  grid-column-start: 2;
  width: fit-content;
  justify-self: center;
  padding: 0.5rem 1.5rem;
}

form label {
  justify-self: end;
  align-self: center;
}

input,
select,
textarea {
  font-family: var(--ff-text);
  border-radius: 15px;
  border: none;
  padding: 0.5rem;
}
label {
  font-family: var(--ff-text);
  font-weight: 600;
  font-size: 0.8rem;
  color: var(--secondary);
}
button {
  font-family: var(--ff-text);
  color: var(--white);
  font-size: 1.2rem;
  font-weight: bold;
  background: var(--baggrund);
  border: none;
  border-radius: 20px;
  margin-top: 1rem;
}
button:hover {
  background: var(--knap);
  cursor: pointer;
}
button:active {
  color: var(--primary);
}

input[type="checkbox"] {
  justify-self: start;
}
input[type="checkbox"] {
  position: relative;
  cursor: pointer;
}
input[type="checkbox"]:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  /* border: 2px solid #555555; */
  border-radius: 3px;
  background-color: white;
}
input[type="checkbox"]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid var(--primary);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 8px;
}
input[type="date"] {
  width: fit-content;
}
select[name="category"] {
  width: fit-content;
}
::placeholder {
  font-family: var(--ff-text);
  color: var(--secondary);
}

textarea:focus-visible {
  outline: none;
}
:focus-visible {
  outline: none;
}
/* select[name="category"],
input[type="date"]:focus-visible {
  outline: none;
} */

input[type="date"] {
  color: var(--secondary);
}
select[name="category"] {
  color: var(--secondary);
}

@media (max-width: 550px) {
  h1 {
    font-size: 3rem;
  }
  form {
    grid-template-columns: 1fr 4fr;
    margin: 1rem 0.5rem;
    padding: 1rem 0.5rem;
  }
  .logo {
    font-size: 2.5rem;
  }
  .nav_button {
    font-size: 0.5rem;
    padding: 0.3rem 0.5rem;
  }
}
@media (max-width: 350px) {
  form label,
  form input,
  textarea,
  select {
    font-size: 0.6rem;
  }
  h1 {
    font-size: 2rem;
  }
}
