/*************** Index *********************/

body {
  background-image: url(img/forsidebillede.webp);
}

#front_text {
  display: grid;
  text-align: center;
}

h1 {
  font-family: "Lobster", cursive;
  font-size: 10rem;
  color: var(--primary);
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.5rem;
  color: var(--white);
  font-weight: bold;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--primary);
}
