:root {
  --primary: #950404;
  --secondary: #d58b8b;
  --baggrund: #f3a3b1;
  --knap: #f5bcd1;
  --nav: #fddcd2;
  --box: #f9dce7;
  --white: #fff;

  --ff-lobster: "Lobster", cursive;
  --ff-text: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-family: "Lobster", cursive;
  font-size: 4rem;
  color: white;
  text-align: center;
  padding: 10px 0px;
}
h2 {
  font-family: var(--ff-lobster);
  color: var(--primary);
}

h3 {
  font-family: var(--ff-lobster);
  color: var(--secondary);
}

main {
  background-color: var(--baggrund);
  padding-bottom: 100px;
}

.box {
  background-color: #f9dce7;
  padding-inline: 2.2rem;
  padding-block: 3rem;
  border-radius: 70px;
}

.billede {
  background-color: green; /*skal slettes*/
  overflow: hidden;
  background-size: cover;
  background-position: 50% 50%;
}

img {
  display: block;
}

.free {
  font-family: var(--ff-text);
  color: var(--knap);
  position: absolute;
  margin-top: 20px;
  background-color: white;
  padding: 3px 15px 3px 15px;
  box-shadow: 2px 2px 5px rgb(104 37 37);
}

button {
  font-size: large;
  color: var(--white);
  background-color: var(--knap);
  padding: 5px 10px 5px 10px;
  border: none;
  border-radius: 20px;
}

/******* add class *********/

.hidden {
  display: none;
}

/***** stort format *******/

@media (min-width: 690px) {
  .box {
    display: grid;
    grid-template-columns: 175px auto;
    height: 260px;
    margin: 50px 110px;
  }

  .indhold {
    margin-left: 1rem;
  }
}

/***** mobil format ****/

@media (max-width: 689px) {
  h2 {
    padding-block: 10px;
  }

  .box {
    margin: 50px 8px 10px 8px;
  }
}

.radio-box {
  display: flex;
  background-color: var(--box);
}
