/*************** Product *********************/

h3,
.paymentreq {
  color: #d58b8b;
  font-size: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  color: #950404;
  line-height: 1.6;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.website_button {
  background-color: #f9dce7;
  color: white;
  font-weight: bolder;
  font-size: 1.5rem;
}
