/*************** Font *********************/

body {
  font-family: var(--ff-text);
}
h1 {
  font-family: var(--ff-lobster);
}
main {
  background: var(--baggrund);
  padding: 10px 0px 30px 0px;
}
/*************** Color *********************/
.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

/*************** Box *********************/
.box {
  position: relative;
}

.right {
  text-align: right;
}
section {
  position: relative;
}

.celebritiesOnSite {
  position: absolute;
  color: var(--white);
  background-color: var(--primary);
  z-index: 1;
  font-size: 1.6rem;
  top: 12%;
  padding: 0.8rem 1.5rem;
  box-shadow: 1px 2px 6px black;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.banner {
  color: var(--white);
  position: absolute;
  background-color: var(--primary);
}

/*************** Button *********************/

.website_button {
  margin-top: 1.5rem;
}
.website_button a {
  background-color: var(--baggrund);
  color: var(--white);
  font-weight: bolder;
  text-decoration: none;
  padding: 5px 30px;
  border-radius: 20px;
}

/*************** web version *********************/

@media (min-width: 900px) {
  .box {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    margin-top: 35px;
    column-gap: 50px;
  }

  .website_button a {
    font-size: 1.9rem;
  }

  .left {
    order: -1;
    margin-top: 90px;
  }

  h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  p {
    line-height: 25px;
    font-size: 0.9rem;
  }

  .paymentreq {
    font-size: 1.7rem;
    margin-bottom: 30px;
    font-weight: bolder;
  }

  .celebritiesOnSite {
    color: var(--white);
  }
}

/***** mobil format box ****/

@media (max-width: 689px) {
  .box {
    display: grid;
    margin: 50px 8px 10px 8px;
  }
  .celebritiesOnSite {
    font-size: 1rem;
    top: 0;
    justify-self: center;
    padding: 0.6rem 1rem;
    box-shadow: 0px 2px 6px black;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  h3 {
    margin-bottom: 0.5rem;
  }
  .website_button {
    margin-top: 2.5rem;
    justify-self: center;
  }
}

@media (max-width: 900px) {
  h1 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  .nav_button {
    font-size: 0.5rem;
    padding: 0.3rem 0.5rem;
  }
  .box {
    display: grid;
    padding: 3rem;
  }
  .website_button a {
    font-size: 1.2rem;
    padding: 0.8rem 1.5rem;
  }
  .celebritiesOnSite {
    font-size: 1rem;
    top: 0;
    justify-self: center;
    padding: 0.6rem 1rem;
    box-shadow: 0px 2px 6px black;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  h3 {
    margin-bottom: 0.5rem;
  }
  .website_button {
    margin-top: 2.5rem;
    justify-self: center;
  }
}
.hidden {
  display: none;
}
