:root {
  --primary: #950404;
  --secondary: #d58b8b;
  --baggrund: #f3a3b1;
  --knap: #f5bcd1;
  --nav: #fddcd2;
  --box: #f9dce7;
  --white: #fff;
}

/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*************** Generel *********************/

main {
  max-width: 1050px;
  margin: 0 auto;
  min-height: 90vh;
}

/*************** Header *********************/

header {
  background-color: var(--nav);
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--primary);
}

.logo {
  font-size: 3rem;
  font-family: "Lobster", cursive;
}

.nav_button {
  font-size: 0.9rem;
  border: var(--primary) 2px solid;
  border-radius: 30px;
  padding: 7px 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}
