:root {
  --primary: #950404;
  --secondary: #d58b8b;
  --baggrund: #f3a3b1;
  --knap: #f5bcd1;
  --nav: #fddcd2;
  --box: #f9dce7;
  --white: #fff;

  --ff-lobster: "Lobster", cursive;
  --ff-text: Verdana, Geneva, Tahoma, sans-serif;
}

/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*************** Generel *********************/

body {
  background-color: var(--box);
}

main {
  max-width: 1050px;
  margin: 0 auto;
  min-height: 85vh;
}

/*************** Header *********************/

header {
  background-color: var(--nav);
  padding: 0.4rem 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  text-decoration: none;
  color: var(--primary);
}

.logo {
  font-size: 3rem;
  font-family: "Lobster", cursive;
}

.nav_button a {
  font-size: 0.9rem;
  border: var(--primary) 2px solid;
  border-radius: 30px;
  padding: 7px 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}

/*************** Box *********************/

.box {
  background-color: #f9dce7;
  margin: 0px 110px;
  padding: 50px;
  border-radius: 70px;
}

h1,
h2 {
  font-family: "Lobster", cursive;
}

h1 {
  font-size: 4rem;
  color: var(--white);
  text-align: center;
  padding: 10px 0px;
}
@media (max-width: 550px) {
  header {
    padding: 0.2rem 0.4rem;
  }
  h1 {
    font-size: 3rem;
  }
  .logo {
    font-size: 2.5rem;
  }
  .nav_button a {
    font-size: 0.5rem;
    padding: 0.3rem 0.5rem;
  }
}
@media (max-width: 350px) {
  header {
    padding: 0.2rem 0.4rem;
  }
  h1 {
    font-size: 3rem;
  }
  .logo {
    font-size: 2rem;
  }
  .nav_button {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }
  .nav_button a {
    font-size: 0.5rem;
    padding: 0.1rem 0.3rem;
  }
}
